.component-2 {
  background-color: #e1decd;
}
.text-2 {
  margin-left: 313px;
}

h1 {
  padding-top: 128px;
}

p {
  margin-top: -57px;
}

.send-1 {
  margin-top: 32px;
  width: 178px;
  height: 58px;
}

.man {
  width: 826px;
  margin-top: -135px;
}
