.component-2 {
  background-color: #e1decd;
}
.text-2 {
  margin-left: 313px;
}

.future-2 {
  padding-top: 128px;
  font-size: 76px;
}

.commissions-2 {
  margin-top: -54px;
}

.send-2 {
  margin-top: 25px;
  width: 178px;
  height: 58px;
}

.man {
  width: 826px;
  margin-top: -135px;
}
