.component-1 {
  background-color: #e1decd;
  justify-content: space-between;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 40px;
  margin-left: 63px;
  margin-top: 40px;
}

span {
  color: #ee3364;
}

.icons {
  justify-content: flex-end;
  margin-right: 100px;
}

.icon {
  height: 25px;
  margin-left: 5px;
}

.menu {
  height: 60px;
  margin-left: 20px;
  margin-top: 42px;
}
